.app-wrapper{
    background: #e7e7e7;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

footer{
    background: #c0c0c0;
}

a{
    color: #007F73;
    text-decoration: none;
}

.convertor{
    background: #007F73;
    max-width: 1200px;
    height: 90%;
    display: grid;
    grid-template: "s s" 1fr
                   "i o" 10fr; 
    gap: 0 5px;
    margin: 30px auto;
    box-shadow: -1px 1px 5px #7e7e7e;
    border-radius: 10px;
}

.switch-wrapper{
    grid-area: s;
    background: #007F73;
    border-radius: 10px 10px 0 0;
    color: aliceblue;
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    text-align: center;
    align-items: center;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#from,#to{
    padding: 0;
    margin: 0;
}

.switch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.switch-button:active {
    transform: scale(0.8);
    transition: 200ms;
}

.switch-icon {
    width: 30px;
}

.input-wrapper,.output-wrapper{
    background: #e4e4e4;
    padding: 30px 30px;
}

::placeholder {
    color: #0f4d46;
}

.output-wrapper {
    border-radius: 0 0 10px 0;
}

.input-wrapper {
    border-radius: 0 0 0 10px;
}

.input,.output{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background:  transparent;
    resize: none;
    font-size: 26px;
}

/* for mobile devices */
@media (max-width: 770px) {
    .convertor {
        height: 100%;
        display: grid;
        grid-template:  "s" 1fr
                        "i" 10fr
                        "o" 10fr;
        margin: 0px;
    }
    
    .switch-wrapper{
        border-radius: 0;
    }

    .input-wrapper,
    .output-wrapper {
        border-radius: 0;
        border-bottom: 1px #373737 solid;
        padding: 20px 20px;
    }
}